* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #5372ef;
}

.container {
    width: 90%;
    max-width: 37.5rem;
    background-color: #fff;
    padding: 3em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}